.footer {
    background-color: $pure-grey;
    height: 18rem;
    padding-top: 2rem;
}

.footer-container{ 
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    max-width: 73rem;
    margin: 0 auto;
    padding: 1rem;

    @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__main-nav {
        grid-column: 1;
    }

    &__secondary-nav {
        grid-column: 2;
    }

    &__logo {
        grid-column: 3;
        justify-self: flex-end;
    }
}